/*Utilities*/
:root{
    --fPrincipal: 'Staatliches', cursive;
    --cPrincipalA: #9c27b0;
    --cPrincipalB: #89119d;
    --cSecundarioA: #ffce00;
    --cSecundarioB: #b69d3a;
    --cBlanco: #fff;
    --cNegro: #000;
}

/*<____HTML and BODY___*/
html{
    font-size: 62.5%;
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: var(--fPrincipal);
    background-color: var(--cPrincipalA);
    line-height: 1.5;
}


/*Globals*/
h1,h2,h3{
    text-align: center;
    color: var(--cSecundarioA);
    font-family: var(--fPrincipal);
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cBlanco);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}


/*Tools*/

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    border: none;
    cursor: pointer;
    background-color: var(--cSecundarioA);
    transition: .4s;
}
.boton:hover{
    background-color: var(--cSecundarioB);
}

/*__________INDEX__________*/

/*----HEADER----*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/*----NAVEGACION----*/
.navegacion{
    background-color: var(--cPrincipalB);
    padding: 1rem 0;
    display: flex;
    justify-content: center; 
    
}

.navegacion__enlace{
    font-size: 3rem;
    color: var(--cBlanco);
    transition: .3s;
    margin-right: 2rem;
}
.navegacion__enlace:last-of-type{
    margin: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--cSecundarioA); 
}

/*----MAIN-----*/
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.producto{
    background-color: var(--cPrincipalB);
    padding: 2rem;
}
.producto__imagen{
    width: 100%;

}
.producto__informacion{
 text-align: center;
}
.producto__nombre{
    font-size: 4rem;

}
.producto__precio{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--cSecundarioA);
}
.producto__nombre, .producto__precio{
    margin: 1rem 0;
}

.grafico{
    min-width: 30rem;
    background-repeat: no-repeat;
    background-size: cover;

}
.grafico--camisa{
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node{
    grid-row: 5/6;
    grid-column: 2/4;
    background-image: url(../img/grafico2.jpg);

}


/*----FOOTER----*/


.footer{
    background-color: var(--cPrincipalB);
    padding: 1rem 0;
    margin-top: 1rem;
}
.footer__texto{
    text-align: center;
}
.footer__span{
    font-weight: bold;
    color: var(--cSecundarioA);

}

/*__________NOSOTROS__________*/

/*----MAIN----*/
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    max-width: 90%;
    margin: 0 auto;
}
.main__texto{
    margin: 0;
}

/*----Informacion----*/
.informacion{
    margin-top: 5rem;
}

.informacion__iconos{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}
.informacion__icono{
    text-align: center;
}


/*__________PRODUCTO__________*/

.camisa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.camisa__imagen{
    width: 90%;
    height: 100%;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__talla{
    padding: 1rem 0;
    background-color: var(--cPrincipalA);
    border:solid 1rem;
    border-color: var(--cPrincipalB);
    color: var(--cBlanco);
    font-size: 2rem;

}
.formulario__cantidad{
    padding: 1rem 0;
    background-color: var(--cPrincipalA);
    border:solid 1rem;
    border-color: var(--cPrincipalB);
    color: var(--cBlanco);
    text-align: center;
    font-size: 2rem;

}
.formulario__cantidad::placeholder{
  
    color: var(--cBlanco);
    

}
.formulario__boton{
    padding: 2rem 1rem;
    margin-top: 1rem;
    grid-column: 1/3;
    font-size: 2rem;
    
}




/*----Responsive----*/

/*Main--INDEX*/
@media(max-width: 800px) {
    .grafico{
    height: 40rem;
    width: 90%;
    margin: 0 auto;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .grafico--camisa{
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .grafico--node{
        grid-row: 8/9;
        grid-column: 1/3;
    
    }
}
@media(max-width: 520px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .grafico--camisa{
        grid-row: 8/9;
        grid-column: 1/2;
    }
    .grafico--node{
        grid-row: 2/3;
        grid-column: 1/2;
    
    }


/*Main--NOSOTROS*/

@media(max-width: 800px) {
    
    .main{
        grid-template-columns: repeat(1, 1fr);
    }
    .informacion__iconos{
        flex-direction: column;
    }


}

}